@model UsersViewModel
@inject SignInManager<O2User> SignInManager
@inject UserManager<O2User> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["UsersTitle"];
    ViewData.AddActivePage(ManageNavPages.GetUsers);
}

<h4>@ViewData["Title"]</h4>
<h5>Всего пользователей - @Model.PageViewModel.TotalCount</h5>
@if (@UserManager.GetUserAsync(User).Result.IsSpecialist)
{
    <h5>Специалистов - @Model.SpecialistCount, клиентов - @Model.ClientCount</h5>

    <table class="table">
        <tr>
            <th>@Localizer["ProfilePhoto"]</th>
            <th>@Localizer["Email"]</th>
            <th>@Localizer["Firstname"]</th>
            <th>@Localizer["Lastname"]</th>
            <th>@Localizer["PhoneNumber"]</th>
            <th>@Localizer["Country"]</th>
            <th>@Localizer["City"]</th>
            <th>@Localizer["Type"]</th>
            <th>...</th>
        </tr>
        @foreach (O2User u in Model.Users)
        {
            if(@u.IsSpecialist)
            {
            <tr>
                <td>
                    @if (@u.ProfilePhoto != null)
                    {
                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="@u.ProfilePhoto">
                    }
                    else
                    {
                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="~/images/avatars/user.png">
                    }
                </td><td>@u.Email</td>
                <td>@u.Firstname</td>
                <td>@u.Lastname</td>
                <td>@u.PhoneNumber</td>
                <td>@u.Country</td>
                <td>@u.City</td>
                <td>
                    @if (@u.IsSpecialist)
                    {
                        <p>@Localizer["TypeSpecialist"]</p>
                    }
                    else
                    {
                        <p>@Localizer["TypeClient"]</p>
                    }
                </td>
                <td><button>...</button></td>
            </tr>
            }
            else
            {  <tr>
                <td>
                    @if (@u.ProfilePhoto != null)
                    {
                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="@u.ProfilePhoto">
                    }
                    else
                    {
                        <img style="width:40px;height:40px; object-fit:cover; border-radius:30px" src="~/images/avatars/user.png">
                    }
                </td><td>@Localizer["NotAccessPolicy"]</td>
                <td>@u.Firstname</td>
                <td>@u.Lastname</td>
                <td>@Localizer["NotAccessPolicy"]</td>
                <td>@u.Country</td>
                <td>@u.City</td>
                <td>
                    @if (@u.IsSpecialist)
                    {
                        <p>@Localizer["TypeSpecialist"]</p>
                    }
                    else
                    {
                        <p>@Localizer["TypeClient"]</p>
                    }
                </td>
                <td><button>...</button></td>
                </tr>
            }
        }
    </table>
    
    if (Model.PageViewModel.HasPreviousPage)
    {
        <a asp-action="GetUsers"
           asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
           class="btn btn-outline-dark">
            <i class="glyphicon glyphicon-chevron-left"></i>
            @Localizer["Back"]
        </a>
    }

    if (@Model.PageViewModel.HasNextPage)
    {
        <a asp-action="GetUsers"
           asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
           class="btn btn-outline-dark">
            @Localizer["Forward"]
            <i class="glyphicon glyphicon-chevron-right"></i>
        </a>
    }
}
else{
    <div>
        <br>
        <p>@Localizer["CloseContentForClient"]</p>
    </div>
}

