@model IndexViewModel
@inject SignInManager<O2User> SignInManager
@inject UserManager<O2User> UserManager
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["UserTitle"];
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h2>@ViewData["Title"]</h2>

@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id">@Localizer["UserIdentity"]</label>
                <input asp-for="Id" id="textId" class="form-control" disabled/>
                @* <button id="btnCopy" onclick="copyToClipboar()" value="copyId">@Localizer["btnCopyId"]</button> *@
                @* <input type="button" onclick="copyToClipboar()" value="Copy" >@Localizer["btnCopyId"]</button> *@
                @* <input type="submit" value="Work 1" asp-action="" /> *@
                @* <button type="submit" id="btnCopy" class="btn btn-default" value="copyId" >@Localizer["btnCopyId"]</button> *@
                @* <button id="btnCopy" value="copyId">@Localizer["btnCopyId"]</button> *@
                <button type="button" id="btnCopy" value="@Localizer["CopyId"]" class="btn btn-info btn-sm">
                    @Localizer["btnCopyId"]
                </button>

            </div>
            <div class="form-group">
                @* @if (@UserManager.GetUserAsync(User).Result.IsSpecialist) *@
                @* { *@

                <button type="button" id="referenceSpecialist" value=" @Localizer["CopyRegiterSpecialLink"]" class="btn btn-info btn-sm">
                    @* "Account/Register?specialistId=304deb53-64d7-456a-b5f8-61619b0679df&returnurl=%2FManage%2FIndex" *@
                    @Localizer["RegiterSpecialLink"]
                </button>
                @* } *@
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate">@Localizer["RegistrationDate"]</label>
                <input asp-for="RegistrationDate" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Firstname">@Localizer["Firstname"]</label>
                <input asp-for="Firstname" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="Lastname">@Localizer["Lastname"]</label>
                <input asp-for="Lastname" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="Username">@Localizer["Username"]</label>
                <input asp-for="Username" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Email">@Localizer["Email"]</label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control"/>
                        <span class="input-group-addon" aria-hidden="true">
                            <span class="glyphicon glyphicon-ok text-success"></span>
                        </span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control"/>
                    <button asp-action="SendVerificationEmail" class="btn btn-link">@Localizer["SendVerificationEmail"]</button>
                }
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber">@Localizer["PhoneNumber"]</label>
                <input asp-for="PhoneNumber" class="form-control"/>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            @* <div class="form-group"> *@
            @*     <label asp-for="Birthday"></label> *@
            @*     <input placeholder="Birthday" asp-for="Birthday" type="text" class="form-control datepicker"> *@
            @*     $1$ <label for="date-picker-example">asp-for="ToDoStartDate"</label> #1# *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Country">@Localizer["Country"]</label>
                <input asp-for="Country" class="form-control"/>
            </div>
            <div class="form-group">
                <label asp-for="City">@Localizer["City"]</label>
                <input asp-for="City" class="form-control"/>
            </div>

            <div class="form-group">
                <label asp-for="LanguageProficiency">@Localizer["LanguageProficiency"]</label>
                <textarea asp-for="LanguageProficiency" class="form-control" type="text" style="min-height: 250px" ></textarea>
                <span asp-validation-for="LanguageProficiency" class="text-danger"></span>
            </div>

            @if (@UserManager.GetUserAsync(User).Result.IsSpecialist)
            {
                <div class="form-group">
                    <label asp-for="Education">@Localizer["Education"]</label>
                    <textarea asp-for="Education" class="form-control" type="text" style="min-height: 250px" placeholder="@Localizer["EducationInfo"]" ></textarea>
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Specialization">@Localizer["Specialization"]</label>
                    <textarea asp-for="Specialization" class="form-control" type="text"  style="min-height: 250px" ></textarea>
                    <span asp-validation-for="Specialization" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="AboutMe">@Localizer["AboutMe"]</label>
                <textarea asp-for="AboutMe" class="form-control" type="text" style="min-height: 250px" ></textarea>
                <span asp-validation-for="AboutMe" class="text-danger"></span>
            </div>

            <div class="form-group">
                @* <label asp-for="ProfilePhoto" style="width: 100%;"></label> *@
                @if (Model.ProfilePhoto != null)
                {
                    <img id="profilePhoto" style="width:350px;height:350px;object-fit:cover; border-radius:320px" src="@Model.ProfilePhoto">
                }
                else
                {
                    <img id="profilePhoto" style="width:350px;height:350px;object-fit:cover; border-radius:320px" style="width:350px;height:350px; object-fit:cover" src="~/images/avatars/user.png">
                }

                @* <label asp-for="ProfilePhoto"></label> *@
                @* <form enctype="multipart/form-data" method="post"> *@
                <dl>
                    <dt>
                        <label asp-for="FormFile">@Localizer["ProfilePhoto"]</label>
                    </dt>
                    <dd>
                        <input asp-for="FormFile" type="file">
                        <span asp-validation-for="FormFile"></span>
                    </dd>
                </dl>
                @* <input type="submit"/> *@
                @* <input asp-page-handler="Upload" class="btn" type="submit" value="Upload" /> *@
                @* </form> *@
                @* <input asp-for="ProfilePhoto" type="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="form-control" style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;" *@
                @*        onchange="document.getElementById('ProfilePhoto').src = (window.URL || window.webkitURL).URL.createObjectURL(this.files[0].path)"> *@
                @* <span asp-validation-for="ProfilePhoto" class="text-danger"></span> *@
                @* <form enctype="multipart/form-data" method="post"> *@
                @*     <input asp-for="FileUpload.FormFile" type="file"> *@
                @*      <span asp-validation-for="FileUpload.FormFile"></span> *@
                @*     $1$ <input type="file" name="file" asp-action="Upload"/> #1# *@
                @*     $1$ <input type="submit"/> #1# *@
                @* </form> *@
            </div>

            <button type="submit" class="btn btn-default">@Localizer["Save"]</button>
        </form>
    </div>
</div>

@* ReSharper disable once Razor.SectionNotResolved *@

@section Scripts {
    @* // Data Picker Initialization *@
    @* $('.datepicker').pickadate(); *@
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script type="text/javascript">
                $(function () {
                     function copyToClipboard(text) {
                                                var $temp = $("<input>");
                                                $("body").append($temp);
                                                $temp.val(text).select();
                                                document.execCommand("copy");
                                                $temp.remove();
                                            }
                                            
                    $("#referenceSpecialist").click(
                       
                                                                      function ()
                                                                      {
                                                  
                                                                          try {
                                                                              var link = "https://identity.o2bus.com/Account/Register?specialistId=" + $("#textId").val() + "&returnurl=%2FManage%2FIndex";
                                                                              // var link = "http://localhost:5000/Account/Register?specialistId=" + $("#textId").val() + "&returnurl=%2FManage%2FIndex";
                                                                              copyToClipboard(link);
                                                                              var message_localization =  $("#referenceSpecialist").val();
                                                                              //Localizer["CopyId"]
                                                                              alert(message_localization);
                                                                          }
                                                                          catch (e) {
                                                                              alert('Copy operation failed');
                                                                          }
                                                                      }
                                                                  );
                    $("#btnCopy").click(
                        function ()
                        {
    
                            try {
                                $('#textId').select();
                                document.execCommand("copy");
                                var message_localization = $("#btnCopy").val();
                                //Localizer["CopyId"]
                                alert(message_localization);
                            }
                            catch (e) {
                                alert('Copy operation failed');
                            }
                        }
                    );
                });
    
            </script>
}